 body {
    //position: relative;
    width: 1440px;
    height: 810px;
    background: #F8F9FE;
    margin: auto;
 }
 #home-page {
    position: absolute;
    width: 460px;
    height: 665px;
    left: 490px;
    top: 73px;  
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;  
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

 }
 .top-section {
    position: absolute;
    width: 460px;
    height: 232px;
    left: 0px;
    top: 0px;
        img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;  
    }
 }
#proceed-btn {
    position: absolute;
    width: 428px;
    height: 56px;
    left: 16px;
    top: 531px;
    background: #680262;
    border-radius: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;  
    color: #FFFFFF;      
    border: none;
}
#proceed-btn:hover{
    background: #490245;
    transition: .2s;
}
#cancel{
    position: absolute;
    width: 100px;
    height: 26px;
    left: 176px;
    top: 594px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #151827; 
    text-decoration: underline;
    text-underline-offset: 5px; 
 
}
@media (max-width: 834px) {
    body {
        position: absolute;
        width: 100%;
        background: #F8F9FE;
    }
    #home-page {
        position: absolute;
        width: 343px;
        height: 586px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        border-radius: 16px;   
    }
    .top-section {
        position: absolute;
        width: 342px;
        height: 188px;
        left: 1px;
        top: 0px;        
            img {
                width: 342px;
                height: 188px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;  
            }
     }
    #proceed-btn {
        width: 311px;
        top: 460px;;
    }
    .cancel{
        left: 112px;
        top: 524px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
    }    
}
@media (max-width: 375px) {
    body{
        position: absolute;
        width: 100%;
        background: #F8F9FE;
    }
    #home-page {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);   
    }
    .top-section {
        position: absolute;
        width: 342px;
        height: 188px;       
            img {
                width: 342px;
                height: 188px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;  
            }
     }
    #proceed-btn {
        width: 311px;
        top: 460px;;
    }
    .cancel{
        width: 88px;
        height: 22px;
        left: 125px;
        top: 524px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        text-align: right;
        letter-spacing: -0.01em;
        color: #151827;    
    }    
}
@media (max-width: 320px){
    body{ 
        position: absolute;
        width: 100%;
        background: #F8F9FE;  
    }
    #home-page {
        width: 260px;
        height: 580px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);   
    }
    .top-section {
        position: absolute;
        width: 260px;
        height: 188px;       
            img {
                width: 260px;
                height: 188px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;  
            }
     }
    #proceed-btn {
        width: 230px;
        top: 460px;
        font-size: 14px;
    }
    .cancel{
        width: 88px;
        height: 22px;
        left: 80px;
        top: 524px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 160%;
        text-align: right;
        letter-spacing: -0.01em;
        color: #151827;    
    }  
}